---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import { Image } from "astro:assets";
import Footer from "@/components/Footer.astro";

// images
import heroImg from "@/images/homepage/hero.png";
import wiseLogo from "@/images/homepage/wise_logo.png";
import atlanLogo from "@/images/homepage/atlan_logo.png";
import dukaan from "@/images/homepage/dukaan.png";
import serverAvatar from "@/images/homepage/serveravatar.png";

import projectsImg from "@/images/homepage/projects.png";
import wise from "@/images/homepage/wise.png";
import panya from "@/images/homepage/panya.png";
import xcreen from "@/images/homepage/xcreen.png";
import webManagr from "@/images/homepage/webmanagr.png";
import lens from "@/images/homepage/lens.jpeg";

import reviews from "@/images/homepage/reviews.png";

import oss from "@/images/homepage/oss.png";
import github from "@/images/homepage/github-plugin.jpeg";
import tabs from "@/images/homepage/tabs-component.png";
import chatComponent from "@/images/homepage/chat-component.png";

import reading from "@/images/homepage/reading.png";

// #svgs
const demoIcon = `<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-square-mouse-pointer"><path d="M21 11V5a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h6"/><path d="m12 12 4 10 1.7-4.3L22 16Z"/></svg>`;
const githubIcon = `<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-github"><path d="M15 22v-4a4.8 4.8 0 0 0-1-3.5c3 0 6-2 6-5.5.08-1.25-.27-2.48-1-3.5.28-1.15.28-2.35 0-3.5 0 0-1 0-3 1.5-2.64-.5-5.36-.5-8 0C6 2 5 2 5 2c-.3 1.15-.3 2.35 0 3.5A5.403 5.403 0 0 0 4 9c0 3.5 3 5.5 6 5.5-.39.49-.68 1.05-.85 1.65-.17.6-.22 1.23-.15 1.85v4"/><path d="M9 18c-4.51 2-5-2-7-2"/></svg>`;
const twitterIcon = `<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-twitter"><path d="M22 4s-.7 2.1-2 3.4c1.6 10-9.4 17.3-18 11.6 2.2.1 4.4-.6 6-2C3 15.5.5 9.6 3 5c2.2 2.6 5.6 4.1 9 4-.9-4.2 4-6.6 7-3.8 1.1 0 3-1.2 3-1.2z"/></svg>`;
const linkedInIcon = `<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-linkedin"><path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"/><rect width="4" height="12" x="2" y="9"/><circle cx="4" cy="4" r="2"/></svg>`;
const externalIcon = `<svg class="w-full" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M7 7h10v10"/><path d="M7 17 17 7"/></svg>
`;

import { getCollection } from "astro:content";
const blogEntries = await getCollection("posts");

const obj = {
  title: "Md Saban",
  descritipon: "I'm a web developer based out of Bengaluru, India, seamlessly blending my love for aesthetics with my knack for problem-solving.",
};

const projects = [
  {
    img: wise,
    alt: "Wise",
    website: "https://wise.live",
    desc: "<a href='https://wise.live' target='_blank' class='text-purple-600 underline underline-offset-4'>Wise App</a> is a one stop solution for online teaching. Conduct live courses and sell recorded content. Manage your earnings, students & teachers all in one place.",
    tags: ["Zero to one", "Front end"],
  },
  {
    img: xcreen,
    alt: "Xcreen",
    desc: "<span class='text-green-600 underline underline-offset-4'>Xcreen</span> is a chrome extension automates the process, enabling you to produce exceptional screen recordings effortlessly.",
    tags: ["Zero to one", "Frontend", "Backend"],
    isUnderConstruction: true,
  },
  {
    img: webManagr,
    alt: "WebManagr",
    website: "https://webmanagr.com",
    desc: "<a href='https://webmanagr.com' target='_blank' class='text-red-600 underline underline-offset-4'>WebManagr</a> helps you to manage expenses, projects, website expiry for your website and, much more in an automated way.",
    tags: ["Zero to one", "Front end"],
  },
  {
    img: lens,
    alt: "Lens",
    website: "https://getlens.io",
    desc: "<a href='https://getlens.io' target='_blank' class='text-purple-600 underline underline-offset-4'>Lens</a> turns your Zoom sessions into engaging learning experiences. It measures participant attentiveness, allows interactive quizzes, and gamifies learning with leaderboards.",
    tags: ["MVP", "Front end"],
  },
  {
    img: panya,
    alt: "Panya",
    desc: "<span class='text-orange-600 underline underline-offset-4'>Panya</span> is a program which makes remembering things easy using flashcards.",
    tags: ["Zero to one", "Front end", "Ideation"],
  }
  // {
  //   img: lens,
  //   alt: "Lens",
  //   desc: "<span class='text-green-600 underline underline-offset-4'>Xcreen</span> is a chrome extension automates the process, enabling you to produce exceptional screen recordings effortlessly.",
  //   tags: ["Zero to one", "Frontend", "Backend"],
  // 	isUnderConstruction: true,
  // },
];

const ossSection = [
{
    img: github,
    alt: "Github review plugin",
    title: "Github Review Extension",
    desc: "Simplify your GitHub code reviews! <br/> Track reviewed files, manage your review progress, and enhance your productivity with intuitive features like auto-viewing files and collapsing all files with a single click.",
    tags: ["Browser extension"],
    demo: "/packages/github-boost/",
    github: "https://github.com/mdsaban/github-boost",
    isPublished: true,
    primaryBtnText: 'Docs'
  },
  {
    img: tabs,
    alt: "Tabs component",
    title: "Vue Tabs component",
    desc: "A lightweight and highly customizable Vue 3 component for creating tabbed interfaces with ease. Easy to render tabs, handling tab switching, and managing tab content.",
    tags: ["Vue3", "Component"],
    demo: "/packages/super-vue3-tabs-component/demo/",
    github: "https://github.com/mdsaban/super-vue3-tabs",
    isPublished: true,
  },
  {
    img: chatComponent,
    alt: "Chat component",
    title: "React advanced chat component",
    desc: " (🔨 Work in progress) A component offering a polished chat interface with real-time messaging, media file sharing, and read receipts.",
    tags: ["React", "Component"],
    demo: "",
    github: "",
    isPublished: false,
  },
];
---

<Layout postDetails={obj}>
  <main>
    <div class="relative">
      <div class="animated-gradient bg-1"></div>
      <div class="animated-gradient bg-2"></div>
      <div class="animated-gradient bg-3"></div>
      <div class="animated-gradient bg-4"></div>
      <div class="animated-gradient bg-5"></div>
      <section class="max-w-[1200] md:px-0 px-8">
        <Header width={1200} />
        <div class="flex items-center justify-center pb-24">
          <div class="flex flex-col items-center text-center">
            <Image
              src={heroImg}
              inferSize
              alt="Hero"
              class="mt-16 mb-10 section-img"
            />
            <h1
              class="text-4xl font-semibold tracking-[-0.04em] !leading-[1.2] md:text-7xl"
            >
              Hi, I am Saban <span class="animate-hand">👋</span>
              <br /> A Software Tinkerer
            </h1>
            <div class="mt-6 max-w-[600px] text-lg font-light">
              I'm a web developer based out of Bengaluru, India, seamlessly
              blending my love for aesthetics with my knack for problem-solving.
            </div>
            <a
              href="mailto:contact@mdsaban.com"
              class="py-3 mt-10 text-sm font-light leading-6 text-white bg-black px-7 rounded-xl"
              >📨 &nbsp; contact@mdsaban.com</a
            >
            <div
              class="flex flex-wrap items-center gap-5 md:gap-10 mt-28 opacity-70"
            >
              <div>
                <Image
                  src={atlanLogo}
                  inferSize
                  alt="wise logo"
                  class="md:h-[26px] h-[22px] md:-mt-1 w-fit"
                />
              </div>
              <div>
                <Image
                  src={wiseLogo}
                  inferSize
                  alt="wise logo"
                  class="md:h-[22px] h-[20px] md:mt-2 mt-1 w-fit"
                />
              </div>
              <div>
                <Image
                  src={dukaan}
                  inferSize
                  alt="atlan logo"
                  class="md:h-[32px] h-[22px] w-fit"
                />
              </div>
              <div class="items-center hidden md:flex">
                <Image
                  src={serverAvatar}
                  inferSize
                  alt="server avatar logo"
                  class="md:h-[32px] w-fit"
                />
                <div class="ml-2 text-2xl font-bold">ServerAvatar</div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <section class="py-20 max-w-[1040px] md:px-0 px-8">
      <Image
        src={projectsImg}
        inferSize
        alt="Projects"
        class="mx-auto mb-6 section-img"
      />
      <h2 class="mb-20 text-5xl font-semibold leading-snug text-center">
        Projects & Works
      </h2>
      <div class="grid grid-cols-1 gap-16 md:grid-cols-2">
        {
          projects.map((item) => {
            return (
              <div>
                <a
                  class="block relative group"
                  href={item.website ?? '#' }
                  target="_blank"
                >
                  <Image
                    src={item.img}
                    inferSize
                    alt={item.alt}
                    class="relative"
                  />
                  <div class="absolute top-0 left-0 z-0 w-full h-full bg-indigo-950/30 rounded-[20px] opacity-0 group-hover:opacity-100 transition-all">
                    <div class="absolute transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 ">
                      <button class="flex px-10 py-3 text-lg bg-white border items center rounded-xl w-max">
												{
													item.website ? 
														<div>Visit {item.alt}</div>
														<div
															class="block w-3.5 -mt-1 -mr-4"
															set:html={externalIcon}
														/>
													: <div>Work in progress</div>
												}
                      </button>
                    </div>
                  </div>
                </a>
                <div
                  class="mt-6 text-2xl !leading-normal"
                  set:html={item.desc}
                />
                <div class="flex flex-wrap gap-4 mt-5">
                  {item.tags.map((tag) => {
                    return (
                      <div class="py-3 text-lg leading-tight border rounded-full px-7 w-max">
                        {tag}
                      </div>
                    );
                  })}
                </div>
              </div>
            );
          })
        }
      </div>
    </section>


    <section class="py-20 max-w-[960px] md:px-0 px-8">
      <Image
        src={oss}
        inferSize
        alt="Projects"
        class="mx-auto mb-6 section-img"
      />
      <h2 class="text-5xl font-semibold leading-snug text-center">
        Open source contributions
      </h2>

      {
        ossSection.map((item) => {
          return (
            <div class="grid md:grid-cols-[4fr_5fr] md:gap-16 gap-4 mt-20">
              <div>
                <Image src={item.img} inferSize alt={item.alt} />
              </div>
              <div>
                <h3 class="mb-4 text-2xl font-medium">{item.title}</h3>
                <p class="mb-5 text-lg" set:html={item.desc}></p>
                {item.isPublished ? (
                  <div class="flex gap-4">
                    <a
                      class="flex items-center py-3 text-lg border rounded-xl px-7 w-max"
                      href={item.demo}
                    >
                      <div set:html={demoIcon} />
                      <div class="ml-2">{item.primaryBtnText || 'Demo'}</div>
                    </a>
                    <a
                      class="flex py-3 text-lg text-white bg-black border items center rounded-xl px-7 w-max"
                      href={item.github}
                      target="_blank"
                    >
                      <div set:html={githubIcon} />
                      <div class="ml-2">Github</div>
                      <div
                        class="block w-4 -mt-2 -mr-4"
                        set:html={externalIcon}
                      />
                    </a>
                  </div>
                ) : (
                  <button class="flex items-center py-3 text-lg text-white bg-gray-500 border cursor-default rounded-xl px-7">
                    <div set:html={githubIcon} />
                    <div class="ml-2">Committing soon..</div>
                  </button>
                )}
              </div>
            </div>
          );
        })
      }
    </section>
    
<!--   
    <section class="py-20 max-w-[960px] md:px-0 px-8">
      <Image
        src={reviews}
        inferSize
        alt="Projects"
        class="mx-auto mb-6 section-img"
      />
      <h2 class="text-5xl font-semibold leading-snug text-center">
        What people say about me
      </h2>

      <div class="grid md:grid-cols-[1fr_1fr] md:gap-16 gap-4 mt-20">

        <div class="rounded-lg p-4 bg-gray-200">
          <p>
            Saban is a highly skilled frontend developer with a team-first attitude. His commitment to delivering exceptional work and collaborating seamlessly made him an invaluable asset. 
          </p>
          <p class="mt-2">
            Working with Saban was an absolute pleasure, and his contributions were instrumental to the project's success.
          </p>
          <div class="text-lg font-semibold mt-2 text-right">Sumit Kumar</div>
        </div>

        <div class="rounded-lg p-4 bg-gray-200 h-max">
          <p>
            Saban is a highly skilled frontend developer with a team-first attitude. His commitment to delivering exceptional work and collaborating seamlessly made him an invaluable asset. 
          </p>
          <div class="text-lg font-semibold mt-2 text-right">Random John</div>
        </div>

      </div>
    </section> -->
    
    <!-- <section
      class="blogs py-20 max-w-[960px] flex md:flex-row flex-col justify-between md:px-0 px-8"
    >
      <div class="flex flex-col-reverse items-center md:w-1/3 md:block">
        <h2 class="text-5xl font-semibold leading-snug">My Blogs</h2>
        <Image
          src={reading}
          inferSize
          alt="Projects"
          class="md:mt-6 section-img"
        />
      </div>
      <div class="mt-8 md:mt-0">
        {
          blogEntries.map((item) => {
            const slug = `/posts/${item.slug}`;
            return (
              item.slug !== "dummy" && (
                <a
                  href={slug}
                  class="flex items-center justify-between py-4 border-b md:py-8 first:pt-0"
                >
                  <div class="text-2xl font-medium">{item.data.title}</div>
                </a>
              )
            );
          })
        }
      </div>
    </section> -->
    
  </main>
  <Footer/>
</Layout>

<script is:inline src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
<script is:inline src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js"></script>

<script>
  const footerSectionAnim = {
    from: {
      transform: 'scale(1)',
      borderRadius: '0',
    },
    to: {
      ease: 'power2.out',
      transform: 'scale(0.9)',
      borderRadius: '0 0 40px 40px',
      scrollTrigger: {
        trigger: "footer",
        scrub: 0.5,
        // markers:true,
      },
    },
};

  document.addEventListener("DOMContentLoaded", (event) => {
    gsap.registerPlugin(ScrollTrigger)
    gsap.fromTo(document.querySelector('main'), footerSectionAnim.from, footerSectionAnim.to);
  });
 
 </script>
 
 

<style>
  body {
    overscroll-behavior: none;
    background-color: #000;
  }
  main {
    background-color: #fff;
  }
  section {
    margin: 0 auto;
  }

  .bg-1,
  .bg-2,
  .bg-3,
  .bg-4,
  .bg-5 {
    opacity: 0;
  }

  /* Animation styles */
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  .animated-gradient {
    animation: fadeIn 4s ease-in-out infinite;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  .bg-1 {
    background: linear-gradient(to right, #f7ebdd, #ffffff);
  }
  .bg-2 {
    background: linear-gradient(to right, #f7dddd, #fffdfd);
    animation-delay: 1s;
  }
  .bg-3 {
    background: linear-gradient(to right, #e5ddf7, #faf8ff);
    animation-delay: 2s;
  }
  .bg-4 {
    background: linear-gradient(to right, #ddf7f6, #fcffff);
    animation-delay: 3s;
  }
  .bg-5 {
    background: linear-gradient(to left, #ebffec, #ffffff);
    animation-delay: 4s;
  }

  .animate-hand {
    animation: handAnimation 1s;
    animation-delay: 1s;
    display: inline-block;
    transform-origin: bottom right;
  }
  @keyframes handAnimation {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(-10deg);
    }
    30% {
      transform: rotate(10deg);
    }
    60% {
      transform: rotate(10deg);
    }
    90% {
      transform: rotate(-10deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  .section-img {
    width: 148px;
    mix-blend-mode: multiply;
    transform: translate3d(0,0,0);
  }
</style>
