---
import "@fontsource-variable/inter";
import "@fontsource-variable/source-serif-4";

import "../../public/blog.less";

import Header from "@/components/Header.astro";
import TableOfContents from "@/components/TableOfContents.astro";

const { postDetails, headings } = Astro.props;
const { title, pubDate, description } = postDetails;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image" href="/favicon.ico" />
    <title>{title}</title>
  </head>
  <body class="pt-10">
    <!-- <Header /> -->
    {
      pubDate ? (
        <h1 class="mt-10">{title}</h1>
        <div class="mb-8">{new Date(pubDate).toLocaleDateString()}</div>
        <section class="blog flex gap-10 mb-20">
          <main>
            <slot />
          </main>
          <aside>
            <TableOfContents headings={headings} />
          </aside>
        </section>
      ) : (
        <slot />
      )
    }
  </body>
</html>